<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Post</title>
</head>
<body>

<form action="/post" method="post" >
        <h2>Post With Us</h2>
    <h4>Type here</h4><textarea id="postBox" name="postText" placeholder="Post something.." style="height:200px"></textarea>
        <br><br><button type="submit">Post</button>
</form>

</body>
</html>